<div class="container">
  <div class="ordem-compra">

    <!-- noValidate impedi  a validação de formulario pelo navagador-->
    <form novalidate>

      <h5>Sua Compra</h5>
      <hr/>

        <div class="form-row" style="background: #FAFAFA; padding: 20px;
          border-bottom: solid 1px #F0F0F0">
          <div class="form-group col-sm-1">
            <img src="/assets/ofertas/1/img1.jpg" class="img-fluid">
          </div>
          <div class="form-group col-sm-6">
            Super Burger
            <br />
            Rodízio de Mini-hambúrger com opção de entrada.
          </div>

          <div>
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-link">-</button>
                1
                <button type="button" class="btn btn-link">+</button>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-3 d-flex justify-content-end">
            29.90
          </div>
        </div>

        <div class="form-row" style="background: #FAFAFA; padding: 20px;
          border-bottom: solid 1px #F0F0F0">
          <div class="form-group col-sm-1">
            <img src="/assets/ofertas/4/img1.jpg" class="img-fluid">
          </div>
          <div class="form-group col-sm-6">
            Estância das águas
            <br />
            Diversão garantida com piscinas, trilhas e muito mais.
          </div>

          <div>
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-link">-</button>
                1
                <button type="button" class="btn btn-link">+</button>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-3 d-flex justify-content-end">
            31.90
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col d-flex justify-content-end">
            <h4>Total do pedido: 61.80</h4>
          </div>
        </div>
        <br/>


          <h5>Dados de entrega</h5>
          <hr/>

            <!-- Formulario de Endereço-->
            <div class="form-row">

              <div class="form-group col-md-6">
                <input type="text"
                  class="form-control {{enderecoEstadoPrimitivo ? '' :
                  (enderecoValido
                  ? 'is-valid' : 'is-invalid')}}"
                  [value]="endereco"
                  #inputEndereco
                  (input)="atualizaEndereco(inputEndereco.value)"
                  placeholder="Endereço"
                  autocomplete="off" minlength="5" required>

                <!-- Dinamizando as Mensagens de validação  do input-->
                <div *ngIf="enderecoEstadoPrimitivo == false">
                  <div *ngIf="enderecoValido; else msgEnderecoInvalido">
                    <small class="form-text text-success">Ok</small>
                  </div>
                  <ng-template #msgEnderecoInvalido>
                    <small class="form-text text-danger">Endereço inválido</small>
                  </ng-template>
                </div>
              </div>

              <div class="form-group col-md-2">
                <input type="text"
                  class="form-control {{numeroEstadoPrimitivo ? '' :
                  (numeroValido ?
                  'is-valid' : 'is-invalid')}}"
                  [value]="numero"
                  #inputNumero
                  (input)="atualizaNumero(inputNumero.value)"
                  placeholder="Número"
                  autocomplete="off"
                  minlength="1" required>

                <!-- Dinamizando as Mensagens de validação  do input-->
                <div *ngIf="numeroEstadoPrimitivo == false">
                  <div *ngIf="numeroValido; else msgNumerInvalido"> <!-- ng if, else alternario - necessario criar o ng-templete com a variavel de msg-->
                    <small class="form-text text-success">Ok</small>
                  </div>
                  <ng-template #msgNumerInvalido>
                    <small class="form-text text-danger">Campo Obrigatório</small>
                  </ng-template>
                </div>
              </div>

              <div class="form-group col-md-4">
                <input type="text"
                  class="form-control"
                  [value]="complemento"
                  #inputComplemento
                  (input)="atualizaComplemento(inputComplemento.value)"
                  placeholder="Complemento"
                  autocomplete="off">
              </div>

            </div>

            <h5>Dados de pagamento</h5>
            <hr/>

              <div class="form-row">
                <div class="form-group col-md-3">
                  <select class="form-control {{formaEstadoPrimitivo ? '' :
                    (formaPagamentoValido ? 'is-valid' : 'is-invalid')}}"
                    #selectFormapgto
                    (change)="atualizaFormaPgto(selectFormapgto.value)">
                    <option value=""> Selecione uma opção </option>
                    <!-- Verifico se o valor selecionado-->
                    <option value="dinheiro" selected="{{ formaPagamento ==
                      'dinheiro' ?
                      'selected' : ''}}">
                      Dinheiro</option>
                    <option value="debito" selected="{{ formaPagamento ==
                      'debito' ?
                      'selected' : ''}}">
                      Débito</option>
                  </select>

                  <!-- Dinamizando as Mensagens de validação  do input-->
                  <div *ngIf="formaEstadoPrimitivo == false">
                    <div *ngIf="formaPagamentoValido; else msgInvalido"> <!-- ng if, else alternario / necessario criar o ng-templete com a variavel de msg-->
                      <small class="form-text text-success">Ok</small>
                    </div>
                    <ng-template #msgInvalido>
                      <small class="form-text text-danger">Selecione uma forma
                        de
                        pagamento</small>
                    </ng-template>
                  </div>
                </div>
              </div>

              <hr/>
                <button type="button" (click)="confirmaCompra()" class="btn btn-primary btn-lg" [disabled] ="formestado"  >
                  Cofirmar Compra
               </button>
              </form>
            </div>
          </div>
