<div class="container">
  <div class="oferta">

    <div class="row">
      <div class="col">
        <h4>{{oferta.descricaoOferta}}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="img_capa">
          <img [src]="oferta.img1" />
        </div>

        <div class="thumbnails">
          <!-- Carregando um Lista de Imagens
          <img *ngFor="let img of oferta.img2" [src]="img" />
          -->
          <img [src]="oferta.img2" />
          <img [src]="oferta.img1" />
          <img [src]="oferta.img3" />
          
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col text-center">
            <p>Por apenas</p>
          </div>

        </div>

        <div class="row">
          <div class="col text-center">
            <h1>{{oferta.valor}}</h1>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-warning btn-lg">Adicionar ao carrinho</button>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>