<div class="fixed-top topo">
    <nav class="navbar ">

        <div class="container-fluid">
            <!--Row com , Logo, Capo pesquisa, e carrinho-->
            <div class="col-md-4">
                <a routerLink="/" class="navbar-brand">
                    <img src="/assets/logo.png">
                </a>
            </div>
            <!--Campo pesquisa-->
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Pesquise por Ofertas" #termoDaPesquisa
                    (keyup)="pesquisa(termoDaPesquisa.value)"> <!-- keyup , faz um eventbind de captura de caracter -->

                <!-- Resultado da Pesquisa do Input de Pesquisa-->
                <ul class="list-group" style="position: absolute; z-index: 999;">
                    <li class="list-group-item" *ngFor="let oferta of ofertas2">
                        <a [routerLink]="[ '/oferta', oferta.id ]" (click)="limpaPesquisa()">
                            {{oferta.titulo}}
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-2">
                <a a href="#">
                    <img src="/assets/carrinho.png">
                </a>
            </div>
        </div>
    </nav>


    <div class="menu">
        <div class="container">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="">
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/restaurante">
                        Restaurantes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/diversao">
                        Diversão
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>